# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
.env/
tf-venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE and OS files
.DS_Store
**/.DS_Store
.idea/
.vscode/

